body {
    font-family: Ubuntu;
    font-size: 13pt;
}

h2, h5 {
    color: deeppink;    
    font-weight: 600; 
}

p.subtitulo {
    color: #2E948A;    
    font-weight: 600; 
}

.footer {
    background-color: #2E948A;        
}
.footer img.logo {
    width: 200px;
}
.navbar, .navbar .container {
    background-color: #2E948A;            
}

.navbar .nav-link {
    color: #FFF;
}

.card-text {
    font-size: 10pt;
}

.btn-cta-principal, .btn-cta-principal:visited {
    border-radius: 30px;
    border: 2px solid deeppink;
    background-color: white;
    color: deeppink;    
    font-size: 12pt;       
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-cta-principal:hover, .btn-cta-principal:active {
    border-radius: 30px;
    border: 2px solid deeppink;
    background-color: deeppink;
    color: white;    
    font-size: 12pt;    
    padding-left: 1rem;
    padding-right: 1rem;   
}


.btn-cta-secundario {
    border-radius: 30px;    
    background-color: deeppink;
    color: white;    
    font-size: 10pt;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-cta-secundario:hover {
    border-radius: 30px;    
    border:1px solid deeppink;
    background-color: transparent;       
    font-size: 10pt;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-comecar {
    border-radius: 30px;    
    background-color: #2E948A;
    color: white;    
    font-size: 10pt;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-comecar:hover {
    border-radius: 30px;    
    border:1px solid #2E948A;
    background-color: transparent;       
    font-size: 10pt;
    padding-left: 1rem;
    padding-right: 1rem;
}

.display-4 {
    color: deeppink;
    font-weight: 600;
}

.btn-cta-footer, .btn-cta-footer:visited {
    border-radius: 30px;
    border: 2px solid white;
    background-color: #2E948A;
    color: white;    
    font-size: 12pt;       
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-cta-footer:hover, .btn-cta-footer:active {
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
    color: black;    
    font-size: 12pt;    
    padding-left: 2rem;
    padding-right: 2rem;   
}

.footer a.link-footer, .footer a.link-footer:visited {
    text-decoration: none;
    color: white;
    line-height: 12pt;
}
.footer a.link-footer, .footer a.link-footer:visited {
    text-decoration: none;
    color: white;
    line-height: 12pt;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

section.itens {
    background-color: #F7F7F7;
    /*padding-top: 20px;*/
}

section.itens .card {
    border:none;
    background-color: transparent;
    max-width: 250px;
}

section.itens .card-img-top {
    max-height: 200px;
}

section.itens .card h6 {
    font-weight: 700;
    color: deeppink;
}